@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 500, 700;
  font-style: normal;
}


.officeImg{
 
}

/* shortener component */

.shortener{
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
  @apply rounded-lg
}
.shortener img{
  height: 17.188rem;
  @apply w-full rounded-lg;
}

.shortener .form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}